h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
}

.app {
    display: grid;
    grid-template-rows: repeat(4, auto);
    padding: 1em;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%
}

.letterGrid {
    display: grid;
    grid-template-rows: repeat(6, auto);
    row-gap: 0.5rem;
    column-gap: 0.25rem;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.letterRow {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 0.25rem;
}

.letterBox {
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(211, 214, 218);
    box-sizing: border-box;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 2rem;
}

.key {
    color: black;
    background-color: rgb(211, 214, 218);
    border: none;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}

.specialKey {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 4rem
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.keyBoard {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.keyBoardRow {
    display: flex;
    justify-content: center;
}

.errorMsg {
    opacity: 0%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 0.5rem;
    position: absolute;
    border-radius: 0.3rem;
    z-index: 1;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    width: 8rem;
    height: 2rem;
    top: 110%;
    left: 25%;
    margin-left: 3.75rem;
    /* Use half of the width (130/2 = 65), to center the tooltip */
}
.resultDialog[open]{
    display: grid;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    border: none;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.resultBody{
    width:fit-content;
    height: fit-content;
    display: grid;
    justify-content: center;
}
.copyButton{
    margin:auto;
    background-color: rgb(106, 170, 100);
    color: white;
    border-radius: 0.5rem;
    border: none;
    width:7rem;
    height: 3rem;
    font-size: 1.5rem;
}
.copyButton:hover{
    background-color: rgb(201,180,88);
}
@keyframes pop {
    50% {
        transform: scale(110%);
    }

    100% {
        transform: scale(100%);
    }
}
.resultTextArea{
    background-color: rgb(211, 214, 218);
    margin-top:1rem; 
    margin-bottom: 1rem; 
    font-size: 1.3rem; 
    text-align: center; 
}

@keyframes flipCorrect {
    50% {
        transform: scaleY(0%);
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    51% {
        background-color: rgb(106, 170, 100);
        color: white;
        border: none;
    }

    100% {
        transform: scale(100%);
        background-color: rgb(106, 170, 100);
        color: white;
        border: none;
    }
}

@keyframes flipAlmost {
    50% {
        transform: scaleY(0%);
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    51% {
        background-color: rgb(201,180,88);
        color: white;
        border: none;
    }

    100% {
        transform: scale(100%);
        background-color: rgb(201,180,88);
        color: white;
        border: none;
    }
}

@keyframes flipWrong {
    50% {
        transform: scaleY(0%);
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    51% {
        background-color: rgb(120, 124, 126);
        color: white;
        border: none;
    }

    100% {
        transform: scale(100%);
        background-color: rgb(120, 124, 126);
        color: white;
        border: none;
    }
}

@keyframes jump {
    40% {
        transform: translateY(-15%);
        background-color: rgb(106, 170, 100);
    }

    80% {
        transform: translateY(8%);
        background-color: rgb(106, 170, 100);
    }

    100% {
        transform: translateY(0%);
        background-color: rgb(106, 170, 100);
    }
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-5%);
    }

    70% {
        transform: translateX(5%);
    }

    90% {
        transform: translateX(-5%);
    }

    70% {
        transform: translateX(0%);
    }
}

@keyframes disappear {
    0% {
        opacity: 100%;
    }

    90% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}
@keyframes appear{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}